{% extends "secure.html" %}

{% block title %}Build{% endblock title %}

{% block description %}Build brings together all the learning project opportunities within the ServeLife ecosystem.{% endblock description %}

{% block page %}
    <div class="main">
        <div class="container">
            <div class="wrapper">
                <h1>This is Build's Ecosystem Page</h1>
                <a href="/project/new">Add New Learning Project</a>
                <p>This is where all the learning projects will be aggregated for the ecosystem</p>
            </div>
        </div>
    </div>
{% endblock page %}