{% extends "secure.html" %}

{% block title %}Build{% endblock title %}

{% block description %}Build brings together all the learning project opportunities within the ServeLife ecosystem.{% endblock description %}

{% block custom_head %}
    <link href="/static/css/smart_wizard.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/static/js/jquery.smartWizard.js"></script>
{% endblock custom_head %}

{% block custom_script %}

    $(function() {
        // Smart Wizard
        $('#wizard').smartWizard({
            onLeaveStep:leaveAStepCallback,
            onFinish:onFinishCallback
        });

        function leaveAStepCallback(obj, context){
            return validateSteps(context.fromStep); // return false to stay on step and true to continue navigation
        }

        function onFinishCallback(objs, context){
            //get variables set
            var project_name = $('#project_name').val();
            var project_description = $('#project_description').val();
            var start_date = $('#start_date').val();
            var skill_tags = $('#skill_tags').val();
            var role_name = $('#role_name').val();
            var role_description = $('#role_description').val();
            var commitment = $('#commitment').val();
            var friends_email = $('#friends_email').val();

            $.ajax({
                data:{'project_name' : project_name,
                    'project_description' : project_description,
                    'start_date' : start_date,
                    'skill_tags' : skill_tags,
                    'opening_name' : role_name,
                    'opening_description' : role_description,
                    'commitment_sought' : commitment
                },
                url: "/project/new",
                async: true,
                type: "POST",
                success: function(response) {
                    if (response == 'ok'){
                        $("#modal-close").click();
                        $(window.location.replace('/build/project/'+project_name+'/hub'));
                    }
                },
                error: function(response) {
                    $(".buttonFinish").addClass('buttonDisabled');
                    $(".buttonPrevious").addClass('Disabled');
                    $('.buttonFinish').html('Something went wrong.');
                }
            });

        }

        // Your Step validation logic
        function validateSteps(stepnumber){
            var isStepValid = true;
            // validate step 1
            if(stepnumber == 1){
                //validate project name
                var project_name = $('#project_name').val();
                if(!project_name && project_name.length <= 0){
                    isStepValid = false;
                    $('#msgbox-step1').html('Please name your project').show();
                    return isStepValid;
                }else{
                    $('#msgbox-step1').hide();
                }

                //validate project description
                var project_description = $('#project_description').val();
                if(!project_description && project_description.length <= 0){
                    isStepValid = false;
                    $('#msgbox-step1').html('Please add a description for your project').show();
                    return isStepValid;
                }else{
                    $('#msgbox-step1').hide();
                }

                //validate start date
                //TODO date needs to be in the future
                var start_date = $('#start_date').val();
                if(!start_date && start_date.length <= 0){
                    isStepValid = false;
                    $('#msgbox-step1').html('Please set a date for the project').show();
                    return isStepValid;
                }else{
                    $('#msgbox-step1').hide();
                }

                return isStepValid;
            }
            else if(stepnumber ==2){
                var isStepValid = true;
                //validate skill tags

                var skill_tags = $('#skill_tags').val();
                if(!skill_tags && skill_tags.length <= 0){
                    isStepValid = false;
                    $('#msgbox-step2').html('Please add some skill keywords.').show();
                    return isStepValid;
                }else{
                    $('#msgbox-step2').hide();
                }
                return isStepValid;
            }
            else {
                return isStepValid;
            }
        }

        // jQuery UI DatePicker
        $('#start_date').datepicker();
    });

    $().ready(function() {

        $("#msgbox-step1").hide();
        $("#msgbox-step2").hide();
        $("#msgbox-step3").hide();
        $("#msgbox-step4").hide();

    });

{% endblock custom_script %}

{% block page %}
    <div class="main">
        <div class="container">
            <div class="wrapper">
                <div class="main">
                    <h1>This is Build's Ecosystem Page</h1>
                    <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#add_project">Create a New Learning Project</a>
                    <p>This is where all the learning projects will be aggregated for the ecosystem</p>
                </div>
                <div class="body">


                </div>
                <!-- MODAL TO ADD A PROJECT -->
                <div id="add_project" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add_goal_label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" id="modal-close" class="close" data-dismiss="modal" aria-hidden="true"><img src="/static/img/halflings_circle_remove.png"/></button>
                        <h3 id="add_goal_label">Create A New Learning Project</h3>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div id="wizard" class="swMain">
                            <ul>
                                <li>
                                    <a href="#step-1">
                                        <label class="stepNumber">1</label>
                                        <span class="stepDesc">Step 1<br />
                                            <small>What is the project?</small>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2">
                                        <label class="stepNumber">2</label>
                                        <span class="stepDesc">Step 2<br />
                                            <small>What do you want to learn?</small>
                                        </span></a>
                                </li>
                                <li>
                                    <a href="#step-3">
                                        <label class="stepNumber">3</label>
                                        <span class="stepDesc">Step 3<br />
                                            <small>Need help? Form a team.</small>
                                        </span>
                                    </a>
                                </li>
                                <li><a href="#step-4">
                                    <label class="stepNumber">4</label>
                                        <span class="stepDesc">Step 4<br />
                                            <small>Invite others to join you!</small>
                                        </span>
                                </a></li>
                            </ul>
                            <div id="step-1">
                                <h2 class="StepTitle">Define some basics for your project.</h2>
                                <!-- step content -->
                                <div class="form-horizontal">
                                    <label id="msgbox-step1" class="alert alert-error"></label>
                                    <div class="control-group">
                                        <label class="control-label" for="project_name">Project Name<span class="required-field">*</span></label>
                                        <div class="controls">
                                            <input class="span4" id="project_name" required name="project_name" size="50" type="text" maxlength="50" placeholder="Enter a short name for your project."/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="project_description">Brief Description<span class="required-field">*</span><br/><small>(250 character limit)</small></label>
                                        <div class="controls">
                                            <textarea rows="4" class="required span4" id="project_description" name="project_description" required maxlength="250" placeholder="Enter a brief but specific description for this project."></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="start_date">Target Start Date<span class="required-field">*</span></label>
                                        <div class="controls">
                                            <input type="text" class="span3" id="start_date" name="start_date" placeholder="When should it start?"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="step-2">
                                <h2 class="StepTitle">Describe what will be learned on the project.</h2>
                                <!-- step content -->
                                <div class="form-horizontal">
                                    <label id="msgbox-step2" class="alert alert-error"></label>
                                    <div class="control-group">
                                        <label class="control-label" for="skill_tags">Skill Keyword Tags<span class="required-field">*</span><br/><small>(separate with commas)</small></label>
                                        <div class="controls">
                                            <textarea rows="3" class="span4" id="skill_tags" name="skill_tags"
                                                      placeholder="Provide keywords for the primary skills that will be learned on the project - keywords like python, entrepreneurship, JavaScript, SEO."></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="topic_name">Discover Topic</label>
                                        <div class="controls">
                                            <input class="span4" disable id="topic_name" name="topic_name" type="text" placeholder="Which topic best matches the main focus of the project?"/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="course_name">Learning Course</label>
                                        <div class="controls">
                                            <input class="span4" disable id="course_name" name="course_name" type="text" placeholder="Is there a learning course inspiring this project?"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="step-3">
                                <h2 class="StepTitle">Describe your ideal first team member<small>(optional).</small></h2>
                                <!-- step content -->
                                <div class="form-horizontal">
                                    <label id="msgbox-step3" class="alert alert-error"></label>
                                    <div class="control-group">
                                        <label class="control-label" for="role_name">Role Name</label>
                                        <div class="controls">
                                            <input class="span4" id="role_name" required name="role_name" type="text" maxlength="50" placeholder="Enter a short name for the role."/>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="role_description">Brief Description<br/><small>(500 character limit)</small></label>
                                        <div class="controls">
                                            <textarea rows="4" class="required span4" id="role_description" name="role_description" required maxlength="250" placeholder="Enter a brief but specific description for this role."></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="commitment">Commitment Sought<br/><small>(in hours per week)</small></label>
                                        <div class="controls">
                                            <select id="commitment">
                                                <option>0-5 hours/week</option>
                                                <option>6-10 hours/week</option>
                                                <option>10+ hours/week</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="step-4">
                                <h2 class="StepTitle">Share Your Project and Invite Others to Join You</h2>
                                <!-- step content -->
                                <div class="form-horizontal">
                                    <div class="control-group">
                                        <label class="control-label" for="friends_email">Email Addresses<br/><small>(separate with commas)</small></label>
                                        <div class="controls">
                                            <textarea rows="5" class="span4" id="friends_email" name="friends_email"
                                                      placeholder="Provide the email addresses for whom you would like to share this new project. They won't be spammed. Promise!"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page %}