{% extends "secure.html" %}

{% block title %}Community{% endblock title %}

{% block description %}Community mashes up members, teams and companies within the ecosystem for discovery.{% endblock description %}

{% block page %}
    <div class="main">
        <div class="container">
            <div class="wrapper">
                <h1>This is Community's Ecosystem Page</h1>
                <p>This is where all the members, teams and companies will be aggregated for the ecosystem. </p>
            </div>
        </div>
    </div>
{% endblock page %}