{% extends "secure.html" %}

{% block title %}Discover{% endblock title %}

{% block description %}Discover is where ServeLife members can find knowledge on various topics within the ecosystem.{% endblock description %}

{% block page %}
    <div class="container">
        <h1>This is Discover's Homebase</h1>
        <a href="/topic/new" alt="Add New Topic">Add New Topic</a>
        <p>This is where all the topics and articles will be housed for the ecosystem. </p>
    </div>
{% endblock page %}