{% extends "base.html" %}

{% block title %}ServeLife: Innovation in the Enterprise{% endblock title %}

{% block description %}"Innovation in the Enterprise is dedicated to visionary leadership. Our goal is to
    better equip you to lead strategic change, expose you to emerging technologies and trends and introduce you to
    practitioners leading innovation efforts within the marketplace today. The podcast explores a vast array of topics
    including innovation, business architecture, strategy, lean startup and change leadership."{% endblock description %}

{% block page %}

<div id="main" role="main">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12">
          <div id="blog_wrapper" class="blog_post">
            <div class="container">
              <div class="row">
                <div class="span8">
                  <h1 class="header">Sponsored Podcasts</h1>
                  <img alt="Innovation in the Enterprise" class="post_pic" src="/static/img/PodcastArtwork.png" />
                    <div class="post_content">
                      <p>Innovation in the Enterprise is dedicated to visionary leadership. Our goal is to better equip you to
                        lead strategic change, expose you to emerging technologies and trends and introduce you to practitioners
                        leading innovation efforts within the marketplace today.</p>
                      <p>
                        The podcast explores a vast array of topics including innovation, business architecture, strategy, lean
                        startup and change leadership.
                      </p>
                      <div class="row">
                        <div class="span2 teammate">
                          <img alt="Alan Ruth" src="/static/img/alan.png" />
                          <div class="social">
                            <a href="http://www.linkedin.com/in/alanruth"><img alt="LinkedIn" src="/static/img/linked_in.png" /></a>
                            <a href="skype://alan.ruth"><img alt="skype" src="/static/img/skype.png" /></a>
                            <a href="mail://alan@notionlabs.com"><img alt="email" src="/static/img/e-mail.png" /></a>
                          </div>
                        </div>
                        <div class="span6 teammate">
                          <h5>Alan Ruth</h5>
                          <p>Podcast Host</p>
                          <hr>
                          <p class="description">
                            Alan hosts the podcast "Innovation in the Enterprise". He has over 17 years experience leading change
                            and leveraging technology to enable customer-centric innovation.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="comments">
                      <h4>Show Notes</h4>
                      <div class="comment">
                        <div class="row">
                          <div class="span6">
                            <div class="name">Episode 1: Defining Innovation</div>
                            <div class="date">Jan 16, 2013</div>
                            <div class="response">
                              <ul>
                                <li><a href="http://strategy-business.com" alt="Strategy+Business.com">strategy+business</a> Booz &amp; Co</li>
                                <li><a href="http://www.strategy-business.com/article/00148d" alt="Strategy+Business.com">Best Business Books 2012: Innovation</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="span3 sidebar offset1">
                    <h4 class="sidebar_header">
                      <a href="http://innovationintheenterprise.libsyn.com/rss">
                        <img alt="RSS" class="thumb" src="/static/img/rss.png" />
                      </a>
                      Recent Releases
                    </h4>
                    <ul class="recent_posts">
                      <li>
                        <div class="row">
                          <div class="span1">
                            <a href="#">
                              <img alt="Pic_blog" class="thumb" src="/static/img/pic_blog.png" />
                            </a>
                          </div>
                          <div class="span2">
                            <a class="link" href="http://traffic.libsyn.com/innovationintheenterprise/DefiningInnovation.mp3">Episode 1: Defining Innovation
                            </a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
{% endblock page %}