{% extends "secure.html" %}

{% block title %}Learn Home Page {% endblock title %}

{% block description %}Learn mashes up all the learning activities within ServeLife for easy discovery.{% endblock description %}

{% block page %}
    <div class="main">
        <div class="container">
            <div class="wrapper">
                <h1>This is Learn's Ecosystem Page</h1>
                <a href="/course/new" alt="Add New Course">Add New Course</a>
                <p>This is where all the courses and classes will be housed for the ecosystem. </p>
            </div>
        </div>
    </div>
{% endblock page %}