{% extends "secure.html" %}

{% block title %}{{ project.project_name }}{% endblock title %}

{% block description %}{{ project.project_description }}{% endblock description %}

{% block page %}

        <div class="main">
            <div class="container">
                <div class="wrapper">
                    <div class="row-fluid topic-main">
                        <div class="span2">
                            <!-- INSERT PICTURE FROM PROFILE -->
                            <img alt="{{ project.key.id() }}" src="../../serve/{{blob_key}}" class="thumbnail img-polaroid member-pic" />
                        </div>
                        <div class="span5">
                            <span class="pull-right"><strong>Followers: </strong>?</span>
                            <div class="pull-right">
                                <a class="btn" href="#">
                                    <img alt="Share" src=""/>
                                </a>
                                <a class="btn" href="#">
                                    <img alt="Invite" src=""/>
                                </a>
                            </div>
                            <h2 id="project-name">{{ project.key.id() }}</h2>
                            <p>{{ project.description }}</p>
                            <p>List Tags</p>
                        </div>
                        <div class="span5">
                            <div class="row-fluid">
                                <a class="quick-button-small span2">
                                    <img alt="Discussions" src="/static/img/conversation.png" />
                                    <span class="notification discussions">7</span>
                                    <p>Discussions</p>
                                </a>
                                <a class="quick-button-small span2">
                                    <img alt="Ideas" class="ideas" src="/static/img/lightbulb.png" />
                                    <span class="notification ideas">7</span>
                                    <p>Ideas</p>
                                </a>
                                <a class="quick-button-small span2">
                                    <img alt="Questions" class="questions" src="/static/img/question.png" />
                                    <span class="notification ideas">7</span>
                                    <p>Questions</p>
                                </a>
                                <a class="quick-button-small span2">
                                    <img alt="Articles" class="articles" src="/static/img/warning_sign.png" />
                                    <p>Issues</p>
                                    <span class="notification ideas">7</span>
                                </a>
                                <a class="quick-button-small span2">
                                    <img alt="Articles" class="articles" src="/static/img/newspaper.png" />
                                    <span class="notification ideas">?</span>
                                    <p class="quick-button-small-article">Articles</p>
                                </a>
                                <a class="quick-button-small span2">
                                    <img alt="Followers" src="/static/img/group.png" />
                                    <span class="notification followers">?</span>
                                    <p>Something</p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <hr class="heavy">

                    <div class="row-fluid topic-body">
                        <div class="span12">
                            <ul class="nav nav-pills btn-topic pull-right">
                                <li><a href="/build/project/{{ project.key.id() }}/hub">News</a></li>
                                <li><a href="#">Backlog</a></li>
                                <li><a href="#">Tasks</a></li>
                                <li class="active"><a href="#">Team</a></li>
                                <li><a href="#">Experiments</a></li>
                                <li><a href="#">Metrics</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row-fluid">
                    <div class="box span6">
                        <div class="box-header">
                            <h2><img src="/static/img/certificate.png" class="certificate"/>
                                <span class="break"></span>Team
                            </h2>
                            <div class="box-icon">
                                <a href="#" class="btn-setting" data-toggle="modal" data-target="#add_goal"><img src="/static/img/halflings_plus.png"/></a>
                            </div>
                        </div>


                        <div class="table-box-content">
                            <table class="table table-hover table-bordered" id="goals">
                                <thead class="table_head">
                                <tr>
                                    <th class="goal-header">Team Member</th>
                                    <th>Project Role</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody id="sortable">
                                {% for member in project.team_members %}
                                    <tr>
                                        <td><img src="/static/img/halflings_justify.png"/><span class="row-break"></span><a href="/community/profile/{{ member.member.id() }}">{{ member.member.id() }}</td>
                                        <td class="hidden-column">{{ member.member }}</td>
                                        <td class="text-center">{{ member.role }}</td>
                                        <td>
                                            <span class="label label-success">{{ member.active }}</span>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr class="info">
                                        <td colspan="3" class="table-row"><strong>No team members found. Please add some.</strong></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock page %}