{% extends "base.html" %}

{% block title %}Sign Up for Membership{% endblock title %}

{% block description %}"Learn with purpose! ServeLife helps you acquire knowledge and put that knowledge to work building real world experience. Contribute. Collaborate. Be Discovered."{% endblock description %}

{% block page %}

    <div id="box_sign">
        <div class="container">
            <div class="span12 box_wrapper">
                <div class="span12 box">
                    <div>
                        <div class="head">
                            <h4>Create your account</h4>
                        </div>
                        <div class="form">
                            <form action="/signup" method="post">
                                <input name="passcode" type="text" placeholder="Beta Access Passcode" autofocus required/>
                                <input name="email" type="text" placeholder="Email" required/>
                                <input name="username" type="text" placeholder="Username" required/>
                                <input name="password" type="password" placeholder="Password" required/>
                                <input type="submit" class="btn" value="Sign up"/>
                            </form>
                        </div>
                    </div>
                </div>
                <p class="already">Already have an account? 
                    <a href="signin.html">Sign in</a></p>
            </div>
        </div>
    </div>

{% endblock %}