{% extends "base.html" %}

{% block navbar %}
  <!-- PUBLIC NAVBAR - USER NOT SIGNED IN -->
    <header class="navbar navbar-fixed-top">
        <nav class="navbar-inner">
            <div class="container">
                <!-- begins navbar -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="/" class="brand scroller" data_section="body">
                    <img alt="ServeLife" src="/static/img/ServeLifeLogo185x41_white.png"/>
                </a>

                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li><a href="#" class="scroller" data-section="#features">Benefits</a></li>
                        <li><a href="#" class="scroller" data-section="#pricing">Pricing</a></li>
                        <li><a href="#" class="scroller" data-section="#about">About</a></li>
                        <li><a href="/innovationintheenterprise">Podcasts</a></li>
                        <!--<li><a href="#">Blog</a></li>-->
                        <li>
                            <a href="/signup" class="btn-header">Sign up</a>
                        </li>
                        <li>
                            <a href="/signin" class="btn-header">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
  <!-- ends public navbar -->
{% endblock navbar %}


{% block page %}

    <div id="box_login">
        <div class="container">
            <div class="span12 box_wrapper">
                <div class="span12 box">
                    <div>
                        <div class="head">
                            <h4>Log in to your account</h4>
                        </div>

                        <div class="form">
                            <form action="/signin" method="post">
                                <input type="text" name="email" placeholder="Email" autofocus=""/>
                                <input type="password" name="password" placeholder="Password"/>
                                <div class="remember">
                                    <div class="left">
                                        <input id="remember_me" type="checkbox">
                                        <label for="remember_me">Remember me</label>
                                    </div>
                                    <div class="right">
                                        <a href="reset.html">Forgot password?</a>
                                    </div>
                                </div>
                                <input type="submit" class="btn" value="Sign in"/>
                            </form>
                        </div>
                    </div>
                </div>
                <p class="already">Don't have an account? <a href="signup.html"> Sign up</a></p>
            </div>
        </div>
    </div>

{% endblock %}