{% extends "base.html" %}

{% block title %}Email Confirmation{% endblock title %}

{% block description %}"Learn with purpose! ServeLife helps you acquire knowledge and put that knowledge to work building real world experience. Contribute. Collaborate. Be Discovered."{% endblock description %}

{% block page %}
<div id="main" role="main">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="span12">
                    <div id="comingsoon" class="comingsoon_page">
                        <div class="container">
                            <div class="countdown">
                                <div class="row">
                                    <div class="alert alert-success">
                                         <h3>Thank You!</h3>

                                             <p>Your email has been confirmed. <strong>We will be in touch shortly.</strong></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%  endblock page %}

