{% extends "secure.html" %}

{% block title %}{{ user_name }} : Edit Your ServeLife Account{% endblock title %}

{% block description %}"Your ServeLife account contains your password."{% endblock description %}

{% block submenu %}
    <div class="container">
        <h3>Update Your ServeLife Membership</h3>
        <ul class="nav nav-pills pull-right" id="submenu">
            <li><a href="/user/profile/{{ user_name }}" alt="Profile">Profile</a></li>
            <li class="active"><a href="#">Account</a></li>
            <li><a href="/user/subscription/{{ user_name }}">Subscription</a></li>
        </ul>
    </div>
{% endblock submenu %}