{% extends "secure.html" %}

{% block title %}Home{% endblock title %}

{% block description %}"{{ user.user_name }}'s home brings together all the activities, collaborations and ServeLife User Profile uniquely identifies them within the ServeLife
  ecosystem."{% endblock description %}

{% block page %}
    <div class="topic-header">
        <div class="main">
            <div class="container">
                <div class="wrapper">
                    <div class="row-fluid topic-main">
                        <div class="span2">
                            <!-- INSERT PICTURE FROM PROFILE, GLYPHICON, FACEBOOK OR SOMEPLACE - USE PROFILE FOR MVP -->
                            <!--<img alt="user_name" src=" 180|get_gravatar_url("alanruth@live.com")" class="thumbnail img-polaroid member-pic" /> -->
                            <img alt="{{ user_name }}" src="{{ gravatar_url }}" class="thumbnail img-polaroid member-pic" />
                        </div>
                        <div class="span5">
                            <!-- Insert some metrics, share & invite buttons -->
                            <h4>INSERT METRICS & SHARE/INVITE BUTTONS</h4>
                        </div>
                        <div class="span5">
                            <div class="row-fluid">
                                <a class="quick-button-small span2">
                                    <img alt="Followers" src="/static/img/group.png" />
                                    <span class="notification followers">{{ userthin.follower_count }}</span>
                                    <p>Followers</p>
                                </a>
                                <a class="quick-button-small span2">
                                    <img alt="Discussions" src="/static/img/conversation.png" />
                                    <span class="notification discussions">7</span>
                                    <p>Discussions</p>
                                </a>
                                <a class="quick-button-small span2">
                                    <img alt="Ideas" class="ideas" src="/static/img/lightbulb.png" />
                                    <span class="notification ideas">7</span>
                                    <p>Ideas</p>
                                </a>
                                <a class="quick-button-small span2">
                                    <img alt="Questions" class="questions" src="/static/img/question.png" />
                                    <span class="notification ideas">7</span>
                                    <p>Questions</p>
                                </a>
                                <a class="quick-button-small span2">
                                    <img alt="Tasks" class="questions" src="/static/img/alarm.png" />
                                    <span class="notification ideas">7</span>
                                    <p>Tasks</p>
                                </a>
                                <a class="quick-button-small span2">
                                    <img alt="Goals" src="/static/img/certificate.png" />
                                    <span class="notification ideas">7</span>
                                    <div class="quick-button-small-article"><p>Goals</p></div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <hr class="heavy">

                    <div class="row-fluid topic-body">
                        <div class="span12">
                            <ul class="nav nav-tabs btn-topic pull-right">
                                <li><a href="#">Activity</a></li>
                                <li><a href="#">Projects</a></li>
                                <li><a href="#">Classes</a></li>
                                <li><a href="#">Topics</a></li>
                                <li><a href="#">Research</a></li>
                                <li><a href="#">Metrics</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1>This is a {{ user.user_name }} Homebase</h1>
        <ul>
            {% for project in projects %}
            <li><a href="/build/project/profile/{{ project.project_name|e }}">{{ project.project_name|e }}</a></li>
            {%  endfor %}
        </ul>
    </div>
{% endblock page %}