{% extends "secure.html" %}

{% block title %}{{ user.user_name }}'s Profile{% endblock title %}

{% block description %}"{{ user.user_name }}'s ServeLife User Profile uniquely identifies them within the ServeLife
  ecosystem."{% endblock description %}

{% block submenu %}
        <div class="container">
            <h2>{{ user.user_name }}'s Home</h2>
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="#" alt="Hub">Hub</a></li>
                <li><a href="#" alt="Contributions">Contributions</a></li>
                <li><a href="#" alt="Achievements">Achievements</a></li>
                <li><a href="#" alt="Efforts">Efforts</a></li>
                <li><a href="#" alt="Tribe">Tribe</a></li>
            </ul>
        </div>
{% endblock submenu %}

{% block page %}
    <div class="container">
        <h1>This is a {{ user.user_name }} Homebase</h1>
        <p>This page will serve as the homebase (mashup) for all topics, classes, projects, teams and fellow members the user is following or members of. Serves as a jumping off
            point into the details of each.</p>
        <p>This is where the user lands after logging in. Thus we need to bring together the experience here.</p>
        <ul>
            <li>Show/link to most popular articles added within ecosystem</li>
        </ul>
    </div>
{% endblock page %}