{% extends "base.html" %}

<!-- NEED TO PULL MEMBER NAME FROM DB -->
{% block title %}Insert Member Name{% endblock title %}

<!-- NEED TO PULL MEMBER HEADLINE FROM DB -->
{% block description %}"ServeLife Member - [INSERT NAME]: [INSERT HEADLINE FROM PROFILE]"{% endblock description %}

{% block page %}
    <div class="container">
    <div class="row-fluid header-main">
        <div class="span2">
            <!-- INSERT PICTURE FROM PROFILE, GLYPHICON, FACEBOOK OR SOMEPLACE - USE PROFILE FOR MVP -->
            <img alt="{{ user_name }}" src="{{ 180|get_gravatar_url('alanruth@live.com') }}" class="thumbnail img-polaroid member-pic" />
        </div>
        <div class="span5">
            <!-- INSERT MEMBER CREATE DATE -->
            <span class="pull-right"><strong>Member since</strong> [MM/YYYY]</span>
            <!-- INSERT MEMBER NAME FROM PROFILE -->
            <h2>{{first_name}} {{ last_name }}</h2>
            <!-- INSERT MEMBER LEVEL FROM PROFILE -->
            <h4>INSERT MEMBER LEVEL</h4>
            <!-- INSERT MEMBER HEADLINE FROM PROFILE - WE SHOULD LIMIT LENGTH OF HEADLINE -->
            <p>INSERT DESCRIPTION</p>
        </div>
        <div class="span5">
            <div class="row-fluid">
                <div class="profile-details span3 offset1">
                    <img alt="Followers" src="/static/img/group2x.png" />
                    <span class="notification followers">800</span>
                    <p>Followers</p>
                </div>
                <div class="profile-details span3 offset1 likes">
                    <img alt="Likes" src="/static/img/thumbs_up2x.png" />
                    <span class="notification">800</span>
                    <p>Likes</p>
                </div>
                <div class="profile-details span3 offset1 articles">
                    <img alt="Likes" src="/static/img/notes2x.png" />
                    <span class="notification">800</span>
                    <p>Articles</p>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span11 offset1 badge-list">
                    <p>Badges Go Here</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="soften">

    <!-- Stats -->
    <div class="row-fluid">
        <div class="circleStats">
            <div class="span2" onTablet="span4" onDesktop="span2">
                <div class="circleStatsItem red">
                    <i class="fa-icon-thumbs-up"></i>
                    <span class="plus">+</span>
                    <span class="percent">%</span>
                    <input type="text" value="58" class="orangeCircle" />
                </div>
                <div class="box-small-title">Influence</div>
            </div>
            <div class="span2" onTablet="span4" onDesktop="span2">
                <div class="circleStatsItem blue">
                    <i class="fa-icon-bullhorn"></i>
                    <span class="plus">+</span>
                    <span class="percent">%</span>
                    <input type="text" value="8" class="blueCircle" />
                </div>
                <div class="box-small-title">Feedback</div>
            </div>
            <div class="span2" onTablet="span4" onDesktop="span2">
                <div class="circleStatsItem yellow">
                    <i class="fa-icon-user"></i>
                    <span class="plus">+</span>
                    <span class="percent">%</span>
                    <input type="text" value="12" class="yellowCircle" />
                </div>
                <div class="box-small-title">Participation</div>
            </div>
            <div class="noMargin span2" onTablet="span4" onDesktop="span2">
                <div class="circleStatsItem pink">
                    <i class="fa-icon-globe"></i>
                    <span class="plus">+</span>
                    <span class="percent">%</span>
                    <input type="text" value="23" class="pinkCircle" />
                </div>
                <div class="box-small-title">Contribution</div>
            </div>
            <div class="span2" onTablet="span4" onDesktop="span2">
                <div class="circleStatsItem green">
                    <i class="fa-icon-bar-chart"></i>
                    <span class="plus">+</span>
                    <span class="percent">%</span>
                    <input type="text" value="34" class="greenCircle" />
                </div>
                <div class="box-small-title">Attainment</div>
            </div>
            <div class="span2" onTablet="span4" onDesktop="span2">
                <div class="circleStatsItem lightorange">
                    <i class="fa-icon-shopping-cart"></i>
                    <span class="plus">+</span>
                    <span class="percent">%</span>
                    <input type="text" value="42" class="lightOrangeCircle" />
                </div>
                <div class="box-small-title">ServeLife Rank</div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row-fluid skills">
        <div class="box span4" ondesktop="span4" ontablet="span6" >
            <div class="box-header">
                <h2>
                    <img alt="lightbulb" src="/static/img/lightbulb.png" class="lightbulb" />
                    <span class="break"></span>
                    Areas of Discovery</h2>
            </div>
            <div class="box-content">
                <span class="label">Ruby/Rails</span>
                <div class="progress" style="margin-bottom: 15px; margin-top: 9px">
                    <div class="bar" style="width: 50%;"></div>
                </div>

                <span class="label">Python</span>
                <div style="margin-bottom: 15px; margin-top: 9px" class="progress progress-striped active">
                    <div style="width: 70%" class="bar"></div>
                </div>
                <span class="label">Google AppEngine</span>
                <div class="progress" style="margin-bottom: 15px; margin-top: 9px">
                    <div class="bar" style="width: 60%;"></div>
                </div>

                <span class="label">Podcasting</span>
                <div style="margin-bottom: 15px; margin-top: 9px" class="progress progress-striped active">
                    <div style="width: 90%" class="bar"></div>
                </div>
                <span class="label">Lean Startup</span>
                <div class="progress" style="margin-bottom: 15px; margin-top: 9px">
                    <div class="bar" style="width: 60%;"></div>
                </div>
            </div>
        </div>

        <div class="box span4" ondesktop="span4" ontablet="span6" >
            <div class="box-header">
                <h2>
                    <img alt="book" src="/static/img/book_open.png" />
                    <span class="break"></span>
                    Learning Efforts in Progress
                </h2>
            </div>
            <div class="box-content">
                <h3>LearnMasterMentor</h3>
                <span class="label">Start Up, Rails, PostgreSQL, HTML5, Heroku - 45 followers</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla mcorper suscipit lobortis nisl ut aliquip. </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetuer adipiscing elit</li>
                    <li>Sed diam nonummy nibh</li>
                </ul>

                <hr class="soften">

                <h3>Moto Servizio</h3>
                <span class="label">Squarespace, Web Design, SEO  - 4.5 rating</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliqua erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ulla mcorper suscipit lobortis nisl ut aliquip. </p>
            </div>
        </div>

        <div class="box span4" ondesktop="span4" ontablet="span6" >
            <div class="box-header">
                <h2>
                    <img alt="lightbulb" src="/static/img/lightbulb.png" class="lightbulb" />
                    <span class="break"></span>
                    Expertise Initiatives</h2>
            </div>
            <div class="box-content">
                <span class="label">Ruby/Rails</span>
                <div class="progress" style="margin-bottom: 15px; margin-top: 9px">
                    <div class="bar" style="width: 50%;"></div>
                </div>

                <span class="label">Python</span>
                <div style="margin-bottom: 15px; margin-top: 9px" class="progress progress-striped active">
                    <div style="width: 70%" class="bar"></div>
                </div>
                <span class="label">Google AppEngine</span>
                <div class="progress" style="margin-bottom: 15px; margin-top: 9px">
                    <div class="bar" style="width: 60%;"></div>
                </div>

                <span class="label">Podcasting</span>
                <div style="margin-bottom: 15px; margin-top: 9px" class="progress progress-striped active">
                    <div style="width: 90%" class="bar"></div>
                </div>
                <span class="label">Lean Startup</span>
                <div class="progress" style="margin-bottom: 15px; margin-top: 9px">
                    <div class="bar" style="width: 60%;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Projects -->
    <div id="projects">
        <h2 class="section_header">
            <hr class="left visible-desktop">
            <!-- Enter Member First Name -->
            <span>Alan's Recent Projects</span>
            <hr class="right visible-desktop">
        </h2>

        <!-- Project Gallery -->
        <div class="row">
            <div class="span3">
                <div class="mask">
                    <!-- Insert Link to Public Profile for Project -->
                    <a href="/static/img/item1.jpg" rel="prettyPhoto">
                        <!-- Insert Project Profile Image -->
                        <img src="/static/img/item1-460x460.jpg" alt=""></a>
                </div>

                <!-- Insert Project Profile Fields -->
                <div class="project-header">
                    <!-- Name of Project #need to limit name size -->
                    <h3>ServeLife Startup</h3>
                    <h3>Role</h3>
                    <span>Tags</span>
                    <!-- Insert Project Tags # These need to link to the public profile pages for the topic-->
                    <span class="badge badge-info"><a href="#" alt="link" class="link-badge">Python</a></span>
                    <span class="badge badge-info">Google AppEngine</span>
                    <span class="badge badge-info">CSS3</span>
                    <span class="badge badge-info">Lean Startup</span>
                    <span class="badge badge-info">Social</span>
                </div>
            </div>
            <div class="span3">
                <div class="mask">
                    <!-- Insert Link to Public Profile for Project -->
                    <a href="/static/img/item1.jpg" rel="prettyPhoto">
                        <!-- Insert Project Profile Image -->
                        <img src="/static/img/item1-460x460.jpg" alt=""></a>
                </div>
                <!-- Insert Project Profile Fields -->
                <div class="project-header">
                    <!-- Name of Project #need to limit name size -->
                    <h3>ServeLife Startup</h3>
                    <h3>Role</h3>
                    <span>Tags</span>
                    <!-- Insert Project Tags # These need to link to the public profile pages for the topic-->
                    <span class="badge badge-info"><a href="#" alt="link" class="link-badge">Python</a></span>
                    <span class="badge badge-info">Google AppEngine</span>
                    <span class="badge badge-info">CSS3</span>
                    <span class="badge badge-info">Lean Startup</span>
                    <span class="badge badge-info">Social</span>
                </div>
            </div>
            <div class="span3">
                <div class="mask">
                    <!-- Insert Link to Public Profile for Project -->
                    <a href="/static/img/item1.jpg" rel="prettyPhoto">
                        <!-- Insert Project Profile Image -->
                        <img src="/static/img/item1-460x460.jpg" alt=""></a>
                </div>
                <!-- Insert Project Profile Fields -->
                <div class="project-header">
                    <!-- Name of Project #need to limit name size -->
                    <h3>ServeLife Startup</h3>
                    <h3>Role</h3>
                    <span>Tags</span>
                    <!-- Insert Project Tags # These need to link to the public profile pages for the topic-->
                    <span class="badge badge-info"><a href="#" alt="link" class="link-badge">Python</a></span>
                    <span class="badge badge-info">Google AppEngine</span>
                    <span class="badge badge-info">CSS3</span>
                    <span class="badge badge-info">Lean Startup</span>
                    <span class="badge badge-info">Social</span>
                </div>
            </div>
            <div class="span3">
                <div class="mask">
                    <!-- Insert Link to Public Profile for Project -->
                    <a href="/static/img/item1.jpg" rel="prettyPhoto">
                        <!-- Insert Project Profile Image -->
                        <img src="/static/img/item1-460x460.jpg" alt=""></a>
                </div>
                <!-- Insert Project Profile Fields -->
                <div class="project-header">
                    <!-- Name of Project #need to limit name size -->
                    <h3>ServeLife Startup</h3>
                    <h3>Role</h3>
                    <span>Tags</span>
                    <!-- Insert Project Tags # These need to link to the public profile pages for the topic-->
                    <span class="badge badge-info"><a href="#" alt="link" class="link-badge">Python</a></span>
                    <span class="badge badge-info">Google AppEngine</span>
                    <span class="badge badge-info">CSS3</span>
                    <span class="badge badge-info">Lean Startup</span>
                    <span class="badge badge-info">Social</span>
                </div>
            </div>
        </div>

        <!-- Contributions -->
        <div id="contributions">
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <!-- Enter Member First Name -->
                <span>Alan's Most Impactful Contributions</span>
                <hr class="right visible-desktop">
            </h2>

            <!-- Contribution Gallery -->
            <div class="row">
                <ul class="thumbnails">
                    <li class="span2">
                        <div class="thumbnail">
                            <!-- Link goes to the external URL for the article -->
                            <a href="#" class="thumbnail">
                                <!-- Images should the image used for the article as received from the rss feed -->
                                <img src="/static/img/item1-460x460.jpg" alt="">
                            </a>
                            <div class="caption">
                                <!-- Name of Project #need to limit name size -->
                                <h3>Innovation Podcast</h3>
                                <p>Episode 1: Define Innovation</p>
                            </div>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <!-- Link goes to the external URL for the article -->
                            <a href="#" class="thumbnail">
                                <!-- Images should the image used for the article as received from the rss feed -->
                                <img src="/static/img/item1-460x460.jpg" alt="">
                            </a>
                            <div class="caption">
                                <!-- Name of Project #need to limit name size -->
                                <h3>Innovation Podcast</h3>
                                <p>Episode 1: Define Innovation</p>
                            </div>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <!-- Link goes to the external URL for the article -->
                            <a href="#" class="thumbnail">
                                <!-- Images should the image used for the article as received from the rss feed -->
                                <img src="/static/img/item1-460x460.jpg" alt="">
                            </a>
                            <div class="caption">
                                <!-- Name of Project #need to limit name size -->
                                <h3>Innovation Podcast</h3>
                                <p>Episode 1: Define Innovation</p>
                            </div>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <!-- Link goes to the external URL for the article -->
                            <a href="#" class="thumbnail">
                                <!-- Images should the image used for the article as received from the rss feed -->
                                <img src="/static/img/item1-460x460.jpg" alt="">
                            </a>
                            <div class="caption">
                                <!-- Name of Project #need to limit name size -->
                                <h3>Innovation Podcast</h3>
                                <p>Episode 1: Define Innovation</p>
                            </div>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <!-- Link goes to the external URL for the article -->
                            <a href="#" class="thumbnail">
                                <!-- Images should the image used for the article as received from the rss feed -->
                                <img src="/static/img/item1-460x460.jpg" alt="">
                            </a>
                            <div class="caption">
                                <!-- Name of Project #need to limit name size -->
                                <h3>Innovation Podcast</h3>
                                <p>Episode 1: Define Innovation</p>
                            </div>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <!-- Link goes to the external URL for the article -->
                            <a href="#" class="thumbnail">
                                <!-- Images should the image used for the article as received from the rss feed -->
                                <img src="/static/img/item1-460x460.jpg" alt="">
                            </a>
                            <div class="caption">
                                <!-- Name of Project #need to limit name size -->
                                <h3>Innovation Podcast</h3>
                                <p>Episode 1: Define Innovation</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
{% endblock page %}

{% block javascript %}
    <!-- start: JavaScript -->
    <script src="/static/js/jquery-1.7.2.min.js"></script>
    <script src="/static/js/jquery-ui-1.8.21.custom.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src='/static/js/fullcalendar.min.js'></script>
    <script src='/static/js/jquery.dataTables.min.js'></script>
    <script src="/static/js/excanvas.js"></script>
    <script src="/static/js/jquery.flot.min.js"></script>
    <script src="/static/js/jquery.flot.pie.min.js"></script>
    <script src="/static/js/jquery.flot.stack.js"></script>
    <script src="/static/js/jquery.flot.resize.min.js"></script>
    <script src="/static/js/jquery.chosen.min.js"></script>
    <script src="/static/js/jquery.uniform.min.js"></script>
    <script src="/static/js/jquery.cleditor.min.js"></script>
    <script src="/static/js/jquery.noty.js"></script>
    <script src="/static/js/jquery.elfinder.min.js"></script>
    <script src="/static/js/jquery.raty.min.js"></script>
    <script src="/static/js/jquery.iphone.toggle.js"></script>
    <script src="/static/js/jquery.uploadify-3.1.min.js"></script>
    <script src="/static/js/jquery.gritter.min.js"></script>
    <script src="/static/js/jquery.imagesloaded.js"></script>
    <script src="/static/js/jquery.masonry.min.js"></script>
    <script src="/static/js/jquery.knob.js"></script>
    <script src="/static/js/jquery.sparkline.min.js"></script>
    <script src="/static/js/custom.js"></script>
    <script type="text/javascript" src="assets/js/jquery.prettyPhoto.js"></script>


    <!--<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/theme.js"></script>-->
{% endblock javascript %}