
{% extends "base.html" %}
{% block footer %}
<!-- starts footer -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="row copyright">
        <div class="span5">
          <h3>Social</h3>
          <a href="http://www.facebook.com/LearnWithPurpose" class="social fb" target="_blank">
            <img alt="Facebook" class="i_face" src="/static/img/ServeLifeLogo185x41_white.png" />
          </a>
          <a href="#" class="social tw">
            <i class="i_twitter"></i>
          </a>
          <a href="#" class="social yt">
            <i class="i_youtube"></i>
          </a>
        </div>
        <div class="span2 offset5 copy">
          <p>&copy; 2013 - ServeLife, Inc.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}